.monFoter{
    background-image: url("../../../public/Image/footer.png");
    width: 100%;
    height: 610px;
    text-align: center;
    color: white;
}
.navbar{
    background-color:#ef8f00 ;
     height: 40px;
    color:#004930 ;
    
    
}
.imgfooter{
    height: auto;
    width: 15%;

    padding:  2%;
}
.n_footer{
    display: flex;
    justify-content: space-between;
    
}
.navbar li{
    padding: 0 2% 0 2%;
    list-style: none;
}